<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confermi eliminazione del elemento selezionato?
            </div>
            <div class="modal-body">
                Questo processo è irreversibile. Vuoi veramente eliminarlo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                <a class="btn btn-danger btn-ok">Elimina</a>
            </div>
        </div>
    </div>
</div>