{% extends 'layout.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}