{% extends 'layout.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Access denied! You can't access this area due to lack of authorization.</h1>
        HTTP ERROR 403
    </div>
{% endblock %}