{% extends 'layout.html.twig' %}

{% block body %}
    <div style="text-align: center">
        <h1>Seems you are looking for something that doesn't exist.</h1>
        HTTP ERROR 404
    </div>
{% endblock %}